<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es">
<head>
	<title>Citas Odontología</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="static\styles\styles.css" />
</head>
<body>
<div id="mainContentArea">
	<div id="contentBox">
        <div id="title">Citas para Odontología via web</div>
        
        <div id="linkGroup">
            <div class="link"><a href="/">Home</a></div>
            <div class="link"><a href="index.html">About</a></div>
            <div class="link"><a href="index.html">Portfolio</a></div>
        </div>
        
        <div id="blueBox"> 
          <div id="header"></div>
            <div class="pageContent">
              
              {{citas}}
            </div>
        </div>

	</div>
</div>
</body>
</html>
